* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
body {
  background-color: #f2f2f2;
}
.app {
  padding: 1em;
  .title {
    font-size: 20px;
    margin-bottom: 1em;
  }
}

.bold {
  font-weight: 800;
}

.card {
  box-sizing: border-box;
  background-color: #fff;
  padding: 0.5em;
  overflow: hidden;
  margin-bottom: 1em;
  border-radius: 0.8em;
}

.progress {
  position: relative;
  width: 100%;
  min-height: 1em;
  background-color: #ccc;

  border-radius: 0.8em;
  overflow: hidden;
  margin: 0.5em 0;
  .progress__inner {
    position: absolute;
    border-radius: 0.8em;
    min-height: 1em;
    width: 0%;
    background-color: #21d4fd;
    background-image: linear-gradient(90deg, #21d4fd 0%, #b721ff 100%);
    transition: width 1s ease 0.3s;
  }
}

.birthday_card {
  label {
    margin-right: 1em;
  }
}