* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  height: 100vh;
  overflow: hidden;
}

.header {
  line-height: 30px;
  min-height: 30px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .score-panel {
  font-weight: 800;
}

.header .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

.game-scenes {
  height: calc(100vh - 40px);
}

.game-scenes .game-panel {
  height: 100%;
}

.nilitem {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 30px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  max-width: 60px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px;
  -webkit-transition: all .5s;
  transition: all .5s;
  text-align: center;
}
